.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    .container .imgBox{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

        .container .imgBox .subwayLineImg{
            width: 100%;
            height: 100%;
        }